/****************************************/
/*************HEADER*********************/
/****************************************/

.qualification::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.qualification:hover{
  color: white;
}
.qualification:hover::before{
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header{
  font-family: 'Manuale', serif;
}
body{
  margin: 0;
  padding: 0;
  background-image: url(../image/dust_scratches.png) ;
}
.background-image{
  position: relative;
  height: 875px;
  background:url(../image/work.jpg) no-repeat bottom;
  background-size: cover;
  display: flex;
}
.half-container{
  width: 50%;
  }
header p{
  text-align: center;
  font-size: 50px;
  margin: 0 0 10px 0;
}
main{
  font-family: 'Montserrat', sans-serif;
}
.barre {
    width: 70px;
    height: 2px;
    opacity: 0;

    align-items: center;
    background-color: black;
    display: block;
    margin: 0 auto;
}
.qualification{
  text-align: center;
  font-size: 60px;
  padding: 0 4px;
  border: 1px solid black;
  transform: perspective(1px) translateZ(0);
}
.div-for-border{
  display: flex;
  justify-content: center;
  transform: translateX(100%);
  opacity:0;
}
.arrow{
  position: absolute;
  bottom: 0;
  left: 50%;
}


/*******COMMUNAUXSECTIONS*******/
.title-section-moi, .title-section-competences, .title-section-projets{
  text-align: center;
  font-size: 70px;
  margin:30px;
  padding-top: 15px;
}
.name{
  opacity: 0;
  transform: translateX(-100%);
}

/**********ABOUTME**************/
.about-me{

}
.description-et-photo{
  min-height: 350px;
  padding: 0 15%;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  flex-wrap: wrap;
}

.description-moi{
  background-color: white;
  margin-right: 10px;
  max-width: 70%;
  font-size: 16px;
  padding: 30px;
  background-color:white;
  border: 0.5px solid lightgrey;
}
.description-moi:hover{
  background-color: black;
  color: white;
}
.barre-separation{
  height: 20px;
  background-color: black;
  width: 100%;
  margin: 0 auto;
}
.little-barre-separation{
  height: 10px;
  background-color: black;
  width: 70%;
  margin: 0 auto;
}

.photo-espace-une{
  background:url(image/premierprojet.png) no-repeat top;
  background-size: cover;
  height: 800px;
  margin: 30px 0;
}
.photo-de-moi{
display: flex;
align-items: center;
}
.arrondi{
  border-radius: 25px;
}

/***********MESPROJETS************/
.my-projects{

}
.container-projets{
  min-height: 200px;
  max-height: 2000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.projet{
  opacity:0.8;
  height: 400px;
}
.container-projets img{
  display: block;
  margin: 0 auto;
}
.title-projets{
 width :380.38px ;
 margin: 16.600px auto;
}
.container-projets h2{
  text-align: center;
  font-size: 20px;
  border: 1px solid grey;
  background-color: black ;
  color: white;
}
.under-photo{
  border: 1px solid black;
  margin: 15px 0;
  width:20%;
}
figcaption{
display: flex;
justify-content: flex-start;
}

.container-projets figure {
	position: relative;
}
.container-projets figure::before {
	position: absolute;
	top: 0;
	left: -20%;
	z-index: 2;
	display: block;
	content: '';
	width: 20%;
	height: 70%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX();
	transform: skewX();
}
.container-projets figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 90%;
	}
}

/***********MESCOMPETENCES*******/

.mes-competences{
margin:0;
margin-bottom: 20px;
}
.competence-valide{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.competence{
font-size: 30px;
max-height: 60px;
}
.fa-check::before{
  margin-right: 10px;
  margin-left: 10px;
}
.os{
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  flex-wrap: wrap;
}
.separation-competences{
  border-width:1px;
  border-color: black;
  width:80%;
  margin: 60px auto;
}

/**************FOOTER************/
.bas-de-page{
  width: 100%;
  margin-top: 15px;
  max-height: 700px;
  background-color:#6728B3;
}
.contactez-moi{
  margin: 0;
  padding-top: 50px;
  text-align: center;
  font-size: 55px;
  text-transform: uppercase;
}
.text-footer{
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
  margin: 0;

}
.barre-icone{
  background-color: #526173;
  display: flex;
  justify-content: center;
}
.icone{
  padding: 0 20px;
  color: black;
}
.barre-contactez-moi{
  width: 150px;
}
.copyright{
  background-color:#1d262f;
  height: 50px;
}
.copyright-texte{
  color: white;
  margin:0;
  text-align: center;
  padding-top: 12px;
}
.email, .phone{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 20px;
}
.email{
  padding-top: 20px;
  padding-bottom: 10px;
}
.phone{
  margin-right: 20px;
  padding-bottom: 40px;
}
.fa-phone{
  padding:0 10px 0 10px;
}
/***********ARROW***************/
.arrow-hide-moi{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.rectangle{
  padding: 0;
  width: 90%;
  height: 100%;
  background-color: black;
}
.triangle{
  width: 0%;
  max-height: 100%;
  border:175px solid transparent;
  border-right: 10px solid transparent;
  border-left:170px solid black;
}
.arrowMoi{
  position: relative;

}


.arrow-left-projets, .arrow-left-moi ,.arrow-left-competences{
  background-color: black;
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.arrow-right-projets, .arrow-right-moi, .arrow-right-competences{
  margin-left: 50%;
  background-color: black;
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.arrow-hide-competences{
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
}
.arrowCompetences{
  position: relative;
}

.arrowProjets{
  width: 100%;
  position: relative;
}


/***********MEDIAQUERIES*********/

@media screen and (max-width:755px){

  .background-image{
    display: flex;
    justify-content: center;
  }

}
@media screen and (max-width:1315px){
  .photo-de-moi{
  margin: 25px 0;
  }
  .description-et-photo{
    justify-content: center;

  }

}
@media screen and (max-width:1401px){
  .title-section-projets{
    margin: 0;
  }
}
@media screen and (max-width:480px){
  .title-section-competences{
    font-size: 50px;
  }
  .photo-deux{
    width : 380px;
  }
}
@media screen and (max-width:1290px){

}
